
    <tr>
        <td> <h3><%= food.name %></h3></td>
        <td><%= food.measuring_unit %></h3></td>
        <td><h3><%= food.price %></h3></td>
        <td><h3><%= link_to "Delete", page_food_path(food_id: food.user_id, id: food.id ), data: {confirm: "Are you sure you want to delete: #{food.name}?",}, method: :delete  %></h3></td>
    </tr>

