<div class="card mb-2" >
    <div class="d-flex justify-content-between mb-3">
      <div class="m-5 flex-grow-1">
        <article class="card-body " style="width: 18rem;"> 
          <h2><a><%= link_to user.name, user %></a>
          </h2>
          </article>
      </div>

    </div>
</div>




