<tr>
  <td>
    <h3><%= food.name %></h3>
  </td>
  <td><%= food.measuring_unit %></h3>
</td>
<td>
  <h3><%= food.price %></h3>
</td>
<td>
  <%= button_to "Delete", food, method: :delete %>
</td>
</tr>
