<section class="container-fluid pt-5 m-5">
  <div class="container">
    <h1>Add new food</h1>
    <%= form_with model: @food, url: food_index_path, class: "card left" do |form| %>
      <%= form.label :name %> <br>
      <%= form.text_field :name %> <br>
      <%= form.submit "Submit", class: "btn btn-info" %>
    <% end %>
  </div>
</section>