<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><h2>Food</h2></th>
      <th scope="col"><h2>Measurement Unit</h2></th>
      <th scope="col"><h2>Unit Price</h2></th>
      <th scope="col"><h2>Action</h2></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%# <th scope="row">1</th> %>
      <td> <h3><%= @food.name %></h3></td>
      <td><%= @food.measuring_unit %></h3></td>
      <td><h3><%= @food.price %></h3></td>
      <td><h3><%= link_to "Delete", food_path(id: @food.id ), data: {confirm: "Are you sure you want to delete: #{@food.name}?",}, method: :delete  %></h3></td>
    </tr>
  </tbody>
</table>