
<% @food.each do |food| %>
<div class="card m-5 p-3">
<div class="d-flex justify-content-between">
<ul class="d-flex flex-direction-column">
<div class="d-flex justify-content-between">
<h3>Food</h3>
<h3>Measurement Unit</h3>
<h3>Unit Price</h3>
<h3>Action</h3>
</div>
<li><div><h3><%= link_to food.name, inventory_food_index_path(food_id: food.user_id, id: food.id
) %></h3></div>

<div><h3><%= food.measuring_unit %></h3></div>
<div><h3><%= food.price %></h3></div>
<div><h3><%= link_to "Delete", inventory_food_index_path(food_id: food.user_id, id: food.id ), data: {confirm: "Are you sure you want to delete: #{food.name}?",}, method: :delete  %></h3></div>

</li>
</ul>
</div>
</div>