<div class="container-fluid text-center p-5">
  <p style="color: green"><%= notice %></p>

  <h1>Recipes</h1>
  <div id="recipes">
    <% @recipes.each do |recipe| %>
      <%= render recipe %>
      <div class="d-flex justify-content-between m-5">
      <p>
        <%= link_to "Show this recipe", recipe %>
      </p>
    <% end %>
  <%= link_to "New recipe", new_recipe_path %>
  </div>
  <div class="d-flex justify-content-between m-5">
    <button type="button" class="btn btn-primary">Generate shopping list</button>
    <button type="button" class="btn btn-secondary">Add Ingredient</button>
  </div>
  </div>
  <hr>
</div>
